<form [formGroup]="loginForm" class="login-form-container p-5" (ngSubmit)="submitLogin(loginForm)">
  <p class="form-title text-center fw-bold fs-3 mb-4">Welcome My Friend</p>

  <div class="mb-4">
    <label for="email" class="form-label fs-6 fw-semibold">Email Address</label>
    <input type="email" formControlName="email" class="form-control form-control-lg" id="email" placeholder="example@gmail.com" aria-describedby="emailHelp">
    <div class="error-message mt-2" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
      <p *ngIf="loginForm.get('email')?.getError('required')">Email is required</p>
      <p *ngIf="loginForm.get('email')?.getError('email')">Please enter a valid email</p>
    </div>
  </div>

  <div class="mb-4">
    <label for="password" class="form-label fs-6 fw-semibold">Password</label>
    <input type="password" formControlName="password" class="form-control form-control-lg" id="password" placeholder="Enter your password">
    <div class="error-message mt-2" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
      <p *ngIf="loginForm.get('password')?.getError('required')">Password is required</p>
    </div>
  </div>

  <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-lg w-100 fs-5">Login</button>

  <p class="signup-link text-center mt-5 fs-6">
    Don't have an account?
    <a routerLink="/signup" class="fw-bold">SignUp</a>
  </p>
</form>
