/* src/app/home/home.component.css */
.account-details {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.account-header {
  background-color: #f8f9fa;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}
h2, h3 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

td.negative {
  color: red;
}
